*{
/*	margin: 0;
	padding: 0;*/
/*	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;*/
        font-family: Times New Roman, initial;
}

/*usados para ver  mas claramente la disposicion de los divs*/
/*div{
    border:solid;
}
.container{
    border-color: red;
}
table, tr, td{
    border:solid;
    color:green;
} */
/*usados para ver mas...*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    /*background-color: royalblue;*/
        
}

/*////////////////////////////////////////////////////*/
 /*APP Y NAVBAR*/ 

.inicio{
    /*background-color: #6AA3E7;*/
    background-image: url("../img/Geometric-Background-012.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
   
}

.ejecutando{
    background-image: url("../img/geometric.png"); 
    background-repeat: no-repeat;
    background-size: cover;
}

 .navbar{
    color: #6AA3E7;
    margin-top: 0px;
    padding: 0px;
}

.navbar div{
    margin: 0px;
    padding: 5px;
    background-color: #6AA3E7;
}

.fa-user, .nav-link, .navbar-brand{
    color: white;
}
 
 
 
/*APP Y NAVBAR*/  
/*////////////////////////////////////////////////////*/
/*SESION*/
.sesion{
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    width: 283px;
    height: auto;
    border:solid 1px;
    border-color: grey;
    border-radius: 8px; 
}

 .alias, .clave{
    height: auto;
    width: 215px;
}

/*SESION*/
/*////////////////////////////////////////////////////*/
/*ACCESO*/
/*
*/
.cabecera{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}

.acceso{
    height: auto;
    width: 550px;
    padding: 30px;
    margin:0 auto;
}

table{
    background: rgb(255, 255, 255, 0.85);
    border:solid 0.5px;
    border-radius: 8px;
    border-color: grey;
}

td{
    padding: 15px;
}
.inicial{
    font-weight:bold;
    font-size: 20px;
    text-align:center;
}
/*

.contenido{
    background-color: rgb(255, 255, 255, 0.8);
    display: table;
    padding-left: 20px;
    padding-right: 20px;
}*/
/*ACCESO*/
/*////////////////////////////////////////////////////*/
/*BOTONES*/
.volver{
    background: linear-gradient(grey, white);
}

.papeleraOculta button{
    background: rgb(255, 255, 255, 0);
}

nav button {
    width: 100%;
    /*height: 100%;*/
    align-content: center;
    /*padding: 0.5rem;*/
    background-color: white;
    color: black;
    border: none;
}
button{
    padding: 5px 5px 5px 5px;
    /*background-color: #B6DDF8;*/
    /*background: linear-gradient(#6AA3E7, violet);*/
    /*background: linear-gradient(grey, white);*/
    background: linear-gradient(#B6DDF8, rgb(128,128,128,0.4));
    border:solid 0.5px;
    border-color: grey;
    border-radius: 8px;
     
}
/*.btnEliminar{
    background: linear-gradient(#B6DDF8, rgb(234,30,10,0.4));
}*/


nav button{
    background-color: white; 
    background: linear-gradient(white, white);
}

nav button:hover{
   /*background-color: #B6DDF8;*/
   background: linear-gradient(#B6DDF8, white);
}

/*BOTONES*/





.estanteria{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top:20px;
    margin-bottom: 20px;
    border: solid;
    color:black;
}
.estanteria input{
    margin-top: 10px;
    margin-bottom: 10px;
}





/*div{
    border:solid;
    border-color: black;
}*/












input{
    padding-left: 5px;
}

.inputsForm{
    display: grid;
    gap: 1em;
    grid-template-columns: max-content auto;
    align-items: center;
    text-align: right;
}

.signUp, .formEditPerfil{
    max-width: 680px;
    margin: auto;
    margin-top: 2em;
}

.textError{
    border-radius: 0.375rem ;
    color: #842029 !important;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
	
}
/*
.alert{
    width: 200px;
    height: 50px;
}*/



.hide{
	display: none;
}

/*

svg{
        position:fixed;
        top:10px;
        left:40px;
}

.container{
    position:relative;
    top:150px;
    left:15%;
    display:block;
    margin-bottom:80px;
    width:300px;
    height:900px;
    background:#fff;
    border-radius:5px;
    overflow:hidden;
    z-index:1;
}


h2{
        padding:40px;
        font-weight:lighter;
        text-transform:uppercase;
        color:#414141;
}


input{
        display:block;
        height:50px;
        width:85%;
        margin:auto;
        border:none;
        &::placeholder {
                -webkit-transform:translateY(0px);
                transform:translateY(0px);
                -webkit-transition:.5s;
                transition:.5s;
  }
        &:hover,
        &:focus,
        &:active:focus{
                color:#ff5722;
                outline:none;
                border-bottom:1px solid #ff5722;
        &::placeholder{
                color:#ff5722;
                position:relative;
                -webkit-transform:translateY(-20px);
                transform:translateY(-20px);
        }
  }
}

.alias,
.nombre,
.apellidos,
.email,
.clave{
        position:relative;
        z-index:1;
        border-bottom:1px solid rgba(0,0,0,.1);
        padding-left:20px;
        font-family: 'Open Sans', sans-serif;
        text-transform:uppercase; 
        color:#858585;
        font-weight:lighter;
        -webkit-transition:.5s;
        transition:.5s;
}

.link{
        text-decoration:none;
        display:inline-block;
        margin:27px 28%;
        text-transform:uppercase;
        color:#858585;
        font-weight:lighter;
        -webkit-transition:.5s;
        transition:.5s;
}

button{
        background:#673ab7;
        cursor:pointer;
        display:inline-block;
        float:left;
        width:300px;
        height:60px;
        margin-top:10px;
        border:none;
        font-family: 'Open Sans', sans-serif;
        text-transform:uppercase;
        color:#FFC035;
        -webkit-transition:.5s;
        transition:.5s;
}



.boton2{

        float:right;
        margin-top: 25px;
        margin-right: 20px;
        width:200px;
        height:40px;
}


span{
    position:relative;
    display:block;
    margin:-10px 20%;
    -webkit-transform:translateX(0);
    transform:translateX(0);
    -webkit-transition:.5s;
    transition:.5s;
}
 
span:hover{
    -webkit-transform:translateX(30px);
    transform:translateX(30px);
}

h3{
        position:relative;
        width:80%;
        padding:10px;
        font-family: 'Open Sans', sans-serif;
        font-weight:lighter;
        color:#900C3F;
}

.error{
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
    color:#8b0000;
} */
/*
.sig{
   position:absolute;
   top:0;
   right:0;
   -webkit-transform:translateY(-100%) scale(1);
   transform:translateY(-100%) scale(1);
   display:block;
   width:20px;
   height:20px;
   display:block;
   background:#ff5722;
   z-index:5;
   -webkit-transition:.8s ease-in-out;
    transition:.8s ease-in-out;
}

.reg{
    position:absolute;
    top:0;
    left:0;
    -webkit-transform:translateY(-100%) scale(1);
    transform:translateY(-100%) scale(1);
    display:block;
    width:20px;
    height:20px;
    border-radius:50px;
    background:#673ab7;
    z-index:5;
    -webkit-transition:.8s ease-in-out;
    transition:.8s ease-in-out;
}



*/